<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_CatalogFilter>
            <version>1.0.0</version>
        </Edge_CatalogFilter>
    </modules>
    <global>
        <blocks>
            <catalogfilter>
                <class>Edge_CatalogFilter_Block</class>
            </catalogfilter>
            <catalog>
                <rewrite>
                    <layer_filter_attribute>Edge_CatalogFilter_Block_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>Edge_CatalogFilter_Block_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <catalogfilter>
                <class>Edge_CatalogFilter_Model</class>
            </catalogfilter>
            <catalog>
                <rewrite>
                    <layer_filter_attribute>Edge_CatalogFilter_Model_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>Edge_CatalogFilter_Model_Layer_Filter_Price</layer_filter_price>
                    <layer_filter_item>Edge_CatalogFilter_Model_Layer_Filter_Item</layer_filter_item>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <layer_filter_attribute>Edge_CatalogFilter_Model_Resource_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>Edge_CatalogFilter_Model_Resource_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog_resource>
            <adminhtml>
                <rewrite>
                    <system_config_source_price_step>Edge_CatalogFilter_Model_System_Config_Source_Price_Step</system_config_source_price_step>
                </rewrite>
            </adminhtml>
        </models>
        <helpers>
            <catalogfilter>
                <class>Edge_CatalogFilter_Helper</class>
            </catalogfilter>
        </helpers>
        <resources>
            <catalogfilter_setup>
                <setup>
                    <module>Edge_CatalogFilter</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </catalogfilter_setup>
        </resources>
        <events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <catalogfilter_filter_type>
                        <class>Edge_CatalogFilter_Model_Observer_form</class>
                        <method>addFilterTypeField</method>
                    </catalogfilter_filter_type>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
        </events>
    </global>
</config>