<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_CatalogFilter>
            <version>1.0.0</version>
        </Edge_CatalogFilter>
    </modules>
    <global>
        <blocks>
            <catalogfilter>
                <class>Edge_CatalogFilter_Block</class>
            </catalogfilter>
            <catalog>
                <rewrite>
                    <layer_filter_attribute>Edge_CatalogFilter_Block_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>Edge_CatalogFilter_Block_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <catalogfilter>
                <class>Edge_CatalogFilter_Model</class>
            </catalogfilter>
            <catalog>
                <rewrite>
                    <layer_filter_attribute>Edge_CatalogFilter_Model_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>Edge_CatalogFilter_Model_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <layer_filter_attribute>Edge_CatalogFilter_Model_Resource_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>Edge_CatalogFilter_Model_Resource_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog_resource>
            <adminhtml>
                <rewrite>
                    <system_config_source_price_step>Edge_CatalogFilter_Model_System_Config_Source_Price_Step</system_config_source_price_step>
                </rewrite>
            </adminhtml>
        </models>
    </global>
</config>