<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <catalog>
            <groups>
                <layered_navigation>
                    <fields>
                        <selection_type translate="label">
                            <label>Attribute Selection Type</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>100</sort_order>
                            <source_model>catalogfilter/system_config_source_selectionType</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </selection_type>
                    </fields>
                </layered_navigation>
            </groups>
        </catalog>
    </sections>
</config>